
body
{
    margin: 0%
}

*
{
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: justify;
}

#nom{
    display: flex;
}

.photo2
{
    width:80px;
    height:80px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.photo_ecran
{
 display: none;
}

cite
{
    font-style: normal;
    color: #ffd700;

}

.Nom1{
    font-size: 3em;
    text-decoration: none;    
}

.Nom2{
    margin-top: -30px;
     font-size: 2em;
     margin-bottom:80px ;
    
}

.Nom2>cite
{
    font-style:normal;
    color: black;
    text-decoration: underline #ffd700;

}

#title1,#title2,#title3
{
    display: flex;
    align-items: center;
}

h1
{
    font-size: 1.3em;    
}

h3
{
background-color: black;
text-transform: uppercase;
color: #ffd700;
font-size: 30px;
text-align: center; 
padding: 0%
}

h4
{
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 10px;
}

hr
{
    color:#ffd700;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: #ffd700;
}

strong
{
    text-transform: uppercase;
    font-style: normal;
}

.bannière{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#conteneur{
    display:flex;
    width: 100%;
    
}
/* La partie formation */
.form
{display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.form_etude
{
    border: 1px solid;
    width: 50%;
}

.form_date
{
   margin-left: 20px;
}
.plan
{
    display: flex;
    margin-left: 20px;
    width: 30%;
    border: 1px solid;
}

/* la partie taf */
.taf_m
{
    border: 1px solid;
    width: 50%
}
.element1 
{
    width: 25%;
    padding: 12px;
    text-align: justify;
    background-color: #ffd700;
    margin-left: 0%;
    position: relative;
    box-sizing: border-box;
    
}

.element2 
{
    width: 75%;
    padding: 5px;
    background-image: url("fond-site.jpg");
    margin-left: 0%;
    box-sizing: border-box;
}

img.photo
{
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;    
    margin-left: 0px;
    
}

#presentation
{
    color: #212121;
    font-style: italic;
}


address
{
 font-size: large;
 font-weight: bold;
 color:#212121;
}

.info
{
    font-size: large;
    color: #212121;
    font-weight: bold;
    font-style: italic;
}

#global
{
    display: flex;

}


aside p
{
     color:#212121;
}

aside
{
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
}

.grad
{
    font-size: 45px;
    color:#ffd700
}


#sport
{
    display:flex;
    justify-content: space-between;
         
}

.sport_logo
{
    border: 1px solid black;
    border-radius: 50%;
    padding:10px;
}


 .compétence_informatique
 {
     display: flex;
     justify-content: space-between;
 }

 .cercle1
 {
     border:3px solid #ffd700;
     border-radius: 50%;
     height: 20px;
     width: 20px;
 }
 
 .cercle
 {
     border:1px solid #ffd700;
     border-radius: 50%;
     height: 5px;
     width: 5px;
     margin-top: 6px;
     margin-left: 6px;
     margin-right: 6px;
     background-color: #ffd700;
     
 
 } 

@media all and (min-width:380px) and (max-width: 991px)
{

    p
    {
      font-size:1.3em;
    }

    #conteneur
    {
      flex-direction: column-reverse;
      width: 100%;    
    }


    .element1
    {
      width: 100%;
    }

    .element2
    {
        background-color: aliceblue;
        background-image: none;
        width: 100%;
    }

    
    .form1,.form2,.form3,.form4
    {
      display: flex;
      flex-direction: column;
    }
     
    .taf
    {
        display: flex;
        flex-direction: column;
    }
    h3
    {
        background-color: none;
        
    }
    #ph
    {
        display:none;
    }
    .photo_ecran
    {
        display: block
    }
    .photo2
    {
       padding-top: 20px;
    }
    .Nom2
    {
        font-size: x-large;
    }
    #nom
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #presentation
    {
        width: 100%;
    }
    aside
    {
        position: relative;

    }
}

