


*
{
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: justify;
   
    
}

#nom{
    display: flex;
}

.photo2
{
    width:80px;
    height:80px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.photo_ecran
{
 display: none;
}

cite
{
    font-style: normal;
    color: #ffd700;

}

.Nom1{
    font-size: 3em;
    text-decoration: none;    
}

.Nom2{
     font-size: 2em;
    
}

.Nom2>cite
{
    font-style:normal;
    color: black;
    text-decoration: underline #ffd700;

}

#title1,#title2,#title3
{
    display: flex;
    align-items: center;
}

#title1
{
    
}

#title2
{
    
}

#title3
{
    
}

h1
{
    font-size: 1.3em;    
}

h3
{
background-color: black;
text-transform: uppercase;
color: #ffd700;
font-size: 30px;
text-align: center; 
padding: 0%
}

h4
{
    background: -webkit-linear-gradient(#eee, #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 20px;
}

hr
{
    color:#ffd700;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: #ffd700;
}

strong
{
    text-transform: uppercase;
    font-style: normal;
}

}
.bannière{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#conteneur{
    display:flex;
    justify-content: space-around;
    width: 100%;
    
}

/* La partie formation */
.form{display: flex;
    width: 80%;
      }
.form_etude
{
    padding-left:105px;
}
.form1_etude
{
    padding-left: 30px
}
.form_date
{
   margin-left: 20px;
}


.element1 
{
    width: 25%;
    padding: 12px;
    text-align: justify;
    background-color: #ffd700;
    margin-left: 0%;
    position: relative;
    
}

.element2 
{
    width: 75%;
    padding: 12px;
    background-image: url("fond-site.jpg");
    margin-left: 0%;
    padding-right: ;
}

img.photo
{
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;    
    margin-left: 60px;
    
}

#presentation
{
    text-align: justify-all;
    color: #212121;
    font-style: italic;
    padding-bottom: 16%;
}


address
{
 font-size: large;
 font-weight: bold;
 color:#212121;
}

.info
{
    font-size: large;
    color: #212121;
    font-weight: bold;
    font-style: italic;
}

#global
{
    display: flex;

}
.plan
{
    display: flex;
    margin-left: 50px;
}
.taf{
    display:flex;
    margin-left:50px;
}

.taf1_m{
    
}
.taf2_m{
    
}
.taf3_m
{
  
}
.taf4_m{
    
}

.taf1_date{

}

.taf2_date{
    
}

.taf3_date{
}
.taf4_date
}
aside p
{
     color:#212121;
}

aside
{
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
}

.grad
{
    font-size: 45px;
    color:#ffd700
}


#sport
{
    display:flex;
    justify-content: space-between;
         
}

.sport_logo
{
    border: 1px solid black;
    border-radius: 50%;
    padding:10px;
}


 .compétence_informatique
 {
     display: flex;
     justify-content: space-between;
 }

 .cercle1
 {
     border:3px solid #ffd700;
     border-radius: 50%;
     height: 20px;
     width: 20px;
 }
 
 .cercle
 {
     border:1px solid #ffd700;
     border-radius: 50%;
     height: 5px;
     width: 5px;
     margin-top: 6px;
     margin-left: 6px;
     margin-right: 6px;
     background-color: #ffd700;
     
 
 } 

@media all and (min-width:380px) and (max-width: 991px)
{

    p
    {
      font-size:1.3em;
    }

    #conteneur
    {
      flex-direction: column-reverse;    
    }


    .element1,.element2
    {
      width:90%;
      margin: 0%;
      border: 1px solid;
    
    }

    .element2
    {
        background-color: aliceblue;
        background-image: none;
    }

    .cercle1,.cercle
    {
        display: none; 
    }
     
    .form1,.form2,.form3,.form4
    {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
     
    .taf
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    h3
    {
        background-color: none;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    h2
    {
     width: 100%;
    }
    #ph
    {
        display:none;
    }
    .photo_ecran
    {
        display: block
    }
    .photo2
    {
       padding-top: 20px;
    }
    .Nom2
    {
        font-size: x-large;
    }
    aside
    {
     position: relative;   
    }
}
@media all and (max-width:379px)
{  
.element1
{ 